body {
    height: 100vh;
    padding: 0 !important;
    background: url(../img/bianca-ackermann-IGTlDjRN3kc-unsplash.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.img-signup{
    padding: 15px;
    background: url(../img/bianca-ackermann-mTNVvQvmoKs-unsplash.jpg) no-repeat center;
    background-size: cover;
}
.fondo-signup{
    height: 80vh;
    
}
.icon{
    color:white imp !important;
}
